/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */

// Light
@font-face {
	font-family: 'chromoxomepro-light';
	src: url('fonts/chromoxomepro-light-webfont.woff2') format('woff2'), url('fonts/chromoxomepro-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Semi
@font-face {
	font-family: 'chromoxomepro-semibold';
	src: url('fonts/chromoxomepro-semibold-webfont.woff2') format('woff2'), url('fonts/chromoxomepro-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
