/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 */

.grid-2x1 {
  .span {
    margin-bottom: 25px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    @include bp-xs() {
      margin-bottom: 0;
    }
  }  
}

.no-cssgrid {
  .grid-2x1 {
    @extend %clearfix;

    .span {
      float: left;
      margin-right: 25px;
      width: calc(50% - 13px);
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
  }
}

.cssgrid {
  .grid-2x1 {
    @include bp-xs() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }

    .span--2 {
      @include bp-xs() {
        grid-column: 1 / span 2;
      }
    }
  }
}