/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-xs: (
  null: (12px,1.25),
  sm:   (12px,1.25),
  md:   (13px,1.25),
  lg:   (14px,1.25),
);

$fs-sm: (
  null: (14px,1.25),
  sm:   (14px,1.25),
  md:   (15px,1.25),
  lg:   (16px,1.25),
);

$fs-md: (
  null: (16px,1.3),
  sm:   (16px,1.3),
  md:   (18px,1.3),
  lg:   (20px,1.3),
);

$fs-lg: (
  null: (24px,1.2),
  sm:   (28px,1.2),
  md:   (34px,1.2),
  lg:   (40px,1.2),
);