/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
    svg {
        display: block;
        height: auto;
        width: 240px;
    }

    &.is-login {
        margin-bottom: 30px;
    }
}